.secondary-button {
    background-color: transparent;
    color: #e73a3b;
    border-color: transparent;
}

.button-active {
    background-color:#ae1a1b;
    color: white;
    border-color: transparent;
}
.nav-link.active {
    color: #ae1a1b !important;
    font-weight: bold;
    border-bottom: 2px solid #ae1a1b;
}